@using UnitOfWorkDemo.Models;
@model List<Student>
@{
    ViewBag.Title = "Index";
}
<h2>Student Lists</h2>
<div style="margin-bottom:10px;">
    @Html.ActionLink("Add New Student", "CreateStudent", null, new { @class = "btn btn-primary" })
</div>
<div>
    <table class="table table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Number
            </th>
            <th>
            </th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.Name
                </td>
                <td>
                    @student.Email
                </td>
                <td>
                    @student.Number
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent")  |  
                    @Html.ActionLink("Delete", "DeleteStudent")
                </td>
            </tr>
        }
    </table>
</div>